// typography
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Quicksand&display=swap');
$quicksand: 'Quicksand', sans-serif;
$nunito: 'Nunito', sans-serif;
$font__size: 21px;
$font__sizelg: 36px;
$font__sizemed: 24px;
$font__weight: 400;
$font__line-height: 1.5;

// colors
$color__black: #000;
$color__white: #fff;
$color__font: #313e4b;
$color__blue: #538ec5;
$color__liteblue: #afc3d6;
$color__liteblue2: #93aec7;
$color__liteblue3: #6a8baa;
$color__drkblue: #446786;


body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px;
  overflow-x: hidden;
  font-family: $quicksand;
  font-size: $font__size;
  font-weight: $font__weight;
  line-height: $font__line-height;
  color: $color__font;
  text-align: left;
  background-color: $color__white;
}

h1 {
  font-family: $nunito;
  font-size: $font__sizelg;
  font-weight: 900;
  line-height: 60px;
}

h2 {
  font-family: $quicksand;
  font-size: $font__sizemed;
}

a:link, a:active, a:visited {
  font-family: $nunito;
  font-size: 15px;
  color: $color__drkblue;
  text-decoration-line: none;
  font-weight: bold;
}

a:hover {
  color: $color__blue;
}

.container {
  max-width: 560px;
  min-height: 100%;
  position: relative;
  margin: 25px 0 50px 150px;
  text-align: left;
  border-style: none;
  padding: 25px;
}

.navigation {
  max-width: 100%;
  min-width: 1000px;
  text-align: left;
  border-style: none;
  padding: 150px 0 0 175px;
      a:link, a:active, a:visited  {
        font-family: $nunito;
        font-size: 15px;
        color: $color__white;
        text-decoration-line: none;
        text-transform: uppercase;
        font-weight: bolder;
      }
      a:after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 15px;
      }
      a:hover {
        color: $color__drkblue;
      }
}

.header {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  padding: 0px;
  color: $color__drkblue!important;
  background-image: linear-gradient(to top right, $color__liteblue3, $color__liteblue3, $color__liteblue);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footer {
  position: relative;
  width: 100%;
  height: 100px;
  font-family: $nunito;
  font-size: 12px;
  text-align: center;
  color: $color__font;
  a:link, a:active, a:visited  {
    display: inline-block;
    margin: 0 15px 10px 15px;
  }
}

.button {
  background-color: $color__drkblue;
  border: 1px solid $color__drkblue;
  border-radius: 25px;
  color: $color__white;
  padding: 10px 20px;
  font-family: $nunito;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
  background-color: $color__blue;
  border: 1px solid $color__blue;
  color: $color__white;
}

.about-pic {
  text-align: center;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}