.rows {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 20px 0 0 0;
    list-style: none;
  }
  
  .row__img {
    display: none;
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    top: random(250) - random(250) + px;
    left: random(500) + px;
    z-index: -1;
    opacity: 0;
    transition: opacity 500ms;
  }
  
  .row__cols,
  .row__post {
    display: block;
    margin-bottom: 10px;
  }
  
  .row__cols {
    font-weight: 700;
    overflow: hidden;
  }
  
  .row__post {
    width: 100%;
    overflow: hidden;
  }
  
  .row__title,
  .row__date{
    float: left;
  }
  
  .row__title {
    width: 100%;
  }
  
  .row__date{
    font-size: 12px!important;
    width: auto;
  }
  
  .row__body {
    margin: 20px 0;
  }
  
  // behaviors
  .row__active {
    text-decoration: line-through;
  }
